.blogCard {
  border-top: 1px solid #a6a6a6;
  padding: 10px;
}

.date {
  font-size: 12px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.categories {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category {
  padding: 2px 8px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
  text-transform: capitalize;
  color: white; /* Todo: diff color? */
}

.red {
  border: 1px solid #BC544B; /* todo: border color darker? lighter? none? */
  background-color: #BC544B;
}

.blue {
  border: 1px solid #4d4dff;
  background-color: #4d4dff;
}

.green {
  border: 1px solid #38b838;
  background-color: #38b838;
}

