html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  padding-top: 5vh;
  flex-direction: column;
  max-width: 600px;
  min-height: 80vh; /* Todo: Fix so not fixed */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
}

.container.dark {
  background: black !important;
  color: white !important;
  /* Todo: 156,163,175 for lighter text */
  /*Dark  Todo: Text color: 156,163,175 
light: 156,163,175*/
}

.container.dark svg {
  fill: white;
}
