.headerContainer {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  height: 10vh;
  font-weight: 500;
}

.logo {
  margin: 10px 24px;
  font-size: 24px;
}

.logo:hover {
  cursor: pointer;
}

.linkContainer,
.iconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.link {
  margin: 0 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
}

.headshot {
  padding: 12px 0;
  margin: 0px;
  display: flex;
}

.headshot div {
  height: 32px;
  width: 32px;
}

.link:hover, .active {
  border-bottom: 1px solid #d39f10;
}

.iconContainer {
  padding: 0 15px;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  .link {
    padding: 12px 0;
    margin: 0 24px;
  }
  .headerContainer {
    width: 1000px;
  }
}
