.writing_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writing_container input {
  width: 50%;
  padding: 4px 8px;
  font-size: 18px;
}

.heading {
  font-size: 18px;
  margin: 0;
}

.viewToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ul {
  padding: 0;
}
.ul li:hover {
  border-radius: 4px;
  background: #eee;
}

.ul li {
  list-style: none;
  margin: 10px 0;
  padding: 5px 0;
}

.post {
  display: flex;
  font-size: 16px; 
  font-weight: 600;
  justify-content: space-between;
}

.post_details {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.post_details span {
  margin-right: 4px;
}

@media (min-width: 1000px) {
  .post {
    font-size: 24px; 
  }
}