.writing_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.writing_container input {
  width: 50%;
  padding: 4px 8px;
  font-size: 18px;
}

.heading {
  width: 30%;
  font-size: 13px;
  margin: 0;
}

.viewToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ul {
  padding: 0;
}
.ul li:hover {
  border-radius: 4px;
  /* background: #eee; */
}

.ul li {
  list-style: none;
  margin: 10px 0;
  padding: 5px 0;
}

.post {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 12px;
}

.post:hover span {
  text-decoration: underline;
  /* border-bottom: 1px solid black; */
}

.post_details {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.post_details span {
  margin-right: 4px;
  opacity: .65;
}

.post_details span:hover {
  opacity: 1;
}

@media (min-width: 600px) {
  .writing_container {
    margin-top: 16px;
  }
  .heading {
    font-size: 18px;
  }
  .post {
    font-size: 22px; 
  }

  .post_details {
    padding-top: 6px;
  }
  .post_details span {
    font-size: 16px;
  }

  .ul li {
    padding: 12px 0;
  }
}